.signandpayment-wrapper{
    .card-img{
        img{
            border-radius: 10px;
        }
    }
    .showbankid-div{
        img{
            width: 5rem !important;
            height: 2.5rem !important;
            object-fit: contain !important;
        }
    }
}