.tenantDetails-wrapper{
    .ui.container{
        @include for-mobile{
            margin: 0 !important;
        }
        .tenantform-div{
            @include for-mobile{
                border-radius: 10px !important;
                border: 1px solid $UnitsCardBg !important;
            }
        }
        .accordTenant{
            background-color: $mainBg !important;
            @include for-mobile{
                background-color: transparent !important;
            }
            .ui.accordion{
                @include for-mobile{
                    background-color: $textLightColor !important;
                    border: 1px solid $UnitsCardBg !important;
                }
                .title{
                    @include for-mobile{
                        display: block !important;
                    }
                }
            }
        }
    }
}